/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

/*Variables*/
:root{
    --cblack: #141414;
    --cblue: #2441ff;
    --cred: #ff2424;
    --cyellow: #ffff0d;
    --cgreen: #53ff38;

    --accessblue: #092C48;
    --accessred: #6F7498;
    --accessyellow: #C59434;
    --accessgreen: #A3B7F9;

    --cwhite: #fff;
    --bg-color: #494949;
    --selected: #ffffffd8;
}

/*BODY*/
body{
    margin: 0;
    background-color: var(--bg-color);
}

nav{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--cblack);
    justify-content: space-around;
    height: 50px;
    width: 100%;
    font-family: verdana;
    font-size: 26px;
    color: var(--cwhite);
    text-shadow: var(--cblue) -2px 1px;
}

i{
    font-size: 30px;
    color: var(--cwhite);
    text-shadow: var(--cred) -2px 1px;
    cursor: pointer;
}

i:hover{
    color: var(--selected);
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    width: 220px;
    height: 220px;
    border-radius: 100%;
    background-color: var(--cblack);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span{
    font-size: 50px;
    font-family: 'Inspiration', cursive;
    color: var(--cwhite);
    text-shadow: var(--cwhite) 0 0 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*GAME*/
.game{
    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';
    border: 10px solid var(--cblack);
    background-color: var(--cblack);
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.blue{
    grid-area: blue;
    background-color: var(--cblue);
    border-bottom-right-radius: 100%;
    border: 15px solid var(--cblack);
}

.accessibility .blue{
    background-color: var(--accessblue);
}

.red{
    grid-area: red;
    background-color: var(--cred);
    border-top-right-radius: 100%;
    border: 15px solid var(--cblack);
}

.accessibility .red{
    background-color: var(--accessred);
}

.yellow{
    grid-area: yellow;
    background-color: var(--cyellow);
    border-bottom-left-radius: 100%;
    border: 15px solid var(--cblack);
}

.accessibility .yellow{
    background-color: var(--accessyellow);
}

.green{
    grid-area: green;
    background-color: var(--cgreen);
    border-top-left-radius: 100%;
    border: 15px solid var(--cblack);
}

.accessibility .green{
    background-color: var(--accessgreen);
}

.selected{
    background-color: var(--selected);
}

.accessibility .selected{
    background-color: var(--selected);
}

/*FOOTER*/
footer{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: var(--cblack);
    justify-content: center;
    width: 100%;
    font-family: verdana;
    font-size: 15px;
}

footer p{
    color: var(--cwhite);
    margin-right: 50px;
    margin-left: 50px;
}

footer a{
    text-decoration: none;
    color: var(--cwhite);
}

footer a:hover{
    color: var(--cred);
    text-shadow: var(--cblue) -3px -3px;
    transition: 0.2s linear;
    font-size: 18px;
}